body {
  background-image: url(Fondo_Main_3.jpg);
  background-size: cover;
}
.main, aside{
  background-color: rgba(255, 255, 255, 0.75);
  position: absolute;
  padding: 5px 5px;
  margin: 10px;
}
.main{
  display: inline-block;
  margin: 30px 300px 30px 300px;
  width: 900px;
  height: 520px;
}
.main article{
  position: relative;
  top: 50px;
  left: 50px;
}
.main article h2{
  position: relative;
  left: 20px;
}
.datos{
  display: inline-block;
  position: absolute;
  top: 35px;
  font-size: 20px;
}
input, select{
  font-size: 20px;
}
ul{
  position: relative;
  left: 30px;
}
li{
  margin: 4px 4px 4px 4px;
}
/*
.volver{
  display: inline-block;
  position: absolute;
  left: 300px;
  top: 450px;
}
*/
.editar{
  display: inline-block;
  position: absolute;
  left: 350px;
  top: 340px;
}
.alertOK, .alertERROR {
    position: absolute;
    top: 30px;
    color: white;
    text-align: center;
    padding: 0px 20px 0px 20px;
}
.alertOK{
  background-color: lightgreen;
  left: 250px;
}
.alertERROR{
  background-color: #f44336; /* Red */
  left: 400px;
}
