body {
  background-image: url(Fondo_Main_3.jpg);
  background-size: cover;
}
.main, aside, footer{
  background-color: rgba(255, 255, 255, 0.75);
  position: absolute;
  padding: 5px 5px;
  margin: 10px;
}
.main{
  display: inline-block;
  left: 350px;
  width: 700px;
  top: 150px;
  height: 490px;
}
.main article{
  position: relative;
  top: 100px;
  left: 50px;
}
.main article h2{
  position: relative;
  left: 20px;
}
.datos{
  display: inline-block;
  position: absolute;
  top: 35px;
}
.cancelar{
  display: inline-block;
  position: absolute;
  left: 200px;
  top: 250px;
}
.editar{
  display: inline-block;
  position: absolute;
  left: 300px;
  top: 250px;
}
footer{
  text-align: center;
  top: 30px;
  height: 30px;
  margin: -5px;
  padding: 0px 0px;
}
