body{
  text-align: center;
}
.contenedor_general{
  display: inline-block;
  margin-top: -3px;
  background-color: white;
  border-style: dashed;
  border-color: grey;
  border-width: 5px;
  border-radius: 10px;
  padding: 40px;
  padding-top: 10px;
  text-align: center;
}
.cartel_elegir_dias{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
}
.contenedor_muestraFechas{
  text-align: center;
}
.muestraFechas{
  font-weight: bold;
  display: inline-block;
  text-align: left;
  padding-top: 10px;
  padding-left: 20px;
  margin-bottom: 5px;
  height: 45px;
  width: 340px;
}
.muestraFechas div{
  margin-bottom: 5px;
}
.comentario{
  resize:none;
}
.error{
  color: red;
  font-weight: bold;
}
.bordeError{
  border-width: 2px;
  border-color: red;
  border-style: solid;
}
